#################
## Eclipse
#################

.project
.metadata
bin/
some.tmp.file
tmp/
*.tmp
*.bak
*.swp
*.*~
*~.nib
local.properties
.classpath

# PDT-specific
.buildpath

# Build results

build/
[Bb]in/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
